.fluidbox__wrap .fluidbox__overlay{
    background-color: #212121; /* Dark Theme */
    /*background-color: hsla(0, 0%, 100%, .85); !* Light Theme See-Through *!*/
    /*background-color: hsla(0, 0%, 15%, 0.85); !* Dark Theme See-Through *!*/
    /*background-color: #e0e0e0; !* Light Theme *!*/
}
#caption-overlay {
    position: fixed;
    bottom: 2.5%;
    left: 0;
    right: 0;
    opacity: 0;
    padding: 1rem 0;
    background-color: hsla(0, 0%, 100%, .85);
    z-index: 1011;
    text-align: center;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
#caption-overlay .img-caption{ color: #1d1d1d; }
#caption-overlay.visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.fluidbox__overlay::before{
    /*background-image: url('http://i.imgur.com/3qj1wfN.jpg');*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .33333;
    -webkit-filter: blur(4px);
    filter: blur(8px);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}